# Data Processing

In [1]:
import pandas as pd
import os
import json
from IPython.display import display
import matplotlib.pyplot as plt
import pyspark
from pyspark.sql import SparkSession

clean_path="../data/clean/"
processing_path="../data/processing/"

# Initial Data
_parameters = pd.read_json(clean_path+"parameters.json")
_countries = pd.read_json(clean_path+"countries.json")
_measuraments = pd.read_json(clean_path+"measurements.json")

display(_parameters)
display(_countries)
display(_measuraments)

       displayName   name  preferredUnit
1             PM10   pm10          µg/m³
2            PM2.5   pm25          µg/m³
3          O₃ mass     o3          µg/m³
4          CO mass     co          µg/m³
5         NO₂ mass    no2          µg/m³
6         SO₂ mass    so2          µg/m³
7              NO₂    no2            ppm
8               CO     co            ppm
9              SO₂    so2            ppm
10              O₃     o3            ppm
11              BC     bc          µg/m³
19             PM1    pm1          µg/m³
21             CO₂    co2            ppm
27        NOx mass    nox          µg/m³
28             CH₄    ch4            ppm
33       UFP count    ufp  particles/cm³
35              NO     no            ppm
126      PM1 count  um010  particles/cm³
130    PM2.5 count  um025  particles/cm³
135     PM10 count  um100  particles/cm³
19840          NOx    nox            ppm
19843      NO mass     no          µg/m³

,cities,code,name,parameters
0,2,AD,Andorra,"[co, no2, o3, pm10, so2]"
1,3,AE,United Arab Emirates,"[o3, pm1, pm10, pm25, um010, um025, um100]"
2,2,AF,Afghanistan,[pm25]
3,0,AM,Armenia,"[pm1, pm10, pm25, um010, um025, um100]"
4,0,AO,Angola,"[pm1, pm10, pm25, um010, um025, um100]"
...,...,...,...,...
125,1,UZ,Uzbekistan,"[o3, pm25]"
126,1,VM,VM,[pm25]
127,2,VN,Vietnam,"[pm1, pm10, pm25, um010, um025, um100]"
128,8,XK,Kosovo,"[co, no2, o3, pm1, pm10, pm25, so2, um010, um0..."
129,1,ZA,South Africa,"[pm1, pm10, pm25, so2, um010, um025, um100]"

       average         day parameter   unit
0      52.0092  2020-12-31        o3  µg/m³
1      11.5678  2020-12-31      pm10  µg/m³
2      14.7604  2020-12-31       no2  µg/m³
3       3.4066  2020-12-31       so2  µg/m³
4     322.8080  2020-12-31        co  µg/m³
...        ...         ...       ...    ...
2177    3.1374  2020-01-01       so2  µg/m³
2178   25.6587  2020-01-01      pm10  µg/m³
2179  412.7953  2020-01-01        co  µg/m³
2180   22.7752  2020-01-01       no2  µg/m³
2181   23.7742  2020-01-01      pm25  µg/m³

[2182 rows x 4 columns]

In [2]:
# Create Spark Context
sc = pyspark.SparkContext('local[*]')
spark = SparkSession.builder.getOrCreate()

In [3]:
measuraments= spark.read.json(clean_path+"measurements.json").rdd
measuraments.first()

Row(average=52.0092, day='2020-12-31', parameter='o3', unit='µg/m³')

In [4]:
#measuraments = measuraments.map(lambda i: ((i['day'],i['parameter'],i['average'],i['unit'])))

In [6]:
o3 = measuraments.filter(lambda i: i['parameter'] == 'o3')